@{
    ViewBag.Title = "About";
    List<HoiVien> mListHV = ViewBag.mListHV;
}

@using MyGym.Models;

<div class="row">
    <div class="col-md-4">
        <h2>Về chúng tôi</h2>
        <p>
            Với hơn 20 năm kinh nghiệm trong lĩnh vực chăm sóc sức khỏe cho mọi người.
            Chúng tôi tự hào khi đã đem đến sức khỏe và niềm vui cho hàng triệu người.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Đội ngũ chuyên gia, huyến luyện viên giàu kinh nghiêm.</h2>
        <p>
            Với tiêu chí sức khỏe khách hàng là số một, những chuyên gia, huấn luyện viên giàu kinh nghiệm luôn không ngừng làm việc hết mình
            để hướng tới sức khỏe của khách hàng.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Cơ sở hiện đại, trang thiết bị đạt chuẩn quốc tế</h2>
        <p>
            Tọa lạc tại trung tâm thành phố với tòa nhà 5 tầng với đạt chuẩn quốc tế.
            Các thiết bị máy móc của chúng tôi được nhập trực tiếp từ châu Âu, đảm bảo đi đầu về chất lượng.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Đối tác nổi tiếng</h2>
        <p>
            Chúng tôi không ngừng làm mới mình. Trong những năm qua chúng tôi liên tục bắt tay với các
            tên tuổi lớn trong lĩnh vực sức khỏe để cô gắng nâng cao hơn nữa chất lượng phục vụ khách hàng.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
