@{
    ViewBag.Title = "Contact";
}
<h2>Contact with us.</h2>

<address>
    57 Hung Vuong street, Hai Chau district, Da Nang<br />
    Fax: 98052-6399<br />
    <abbr title="Phone">Mobile</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@MyGym.com</a><br />
    <strong>Email:</strong> <a href="#">MyGymDN@gmail.com</a>
</address>