@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyGym</h1>
    <p class="lead">Sức khỏe của bạn - Cuộc sống của bạn.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vì sao nên tập Gym ?</h2>
        <p>Bạn quá bận rộn vào ban ngày và ko còn thời gian để tập thể dục?</p>
        <p>Bạn ngồi quá nhiều vì đặc thù công việc?</p>
        <p>Đừng quá lo lắng. Gym sẽ giải quyết những lo lắng của bạn?</p>
    </div>
    <div class="col-md-4">
        <h2>Bắt đầu thế nào?</h2>
        <p>
            Hãy đến với chúng tôi để trải nghiệm những thứ tuyệt vời nhất. Ngay hôm nay,bắt đầu để cải thiện sức khỏe và cuộc sống của bạn.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tại sao bạn nên chọn chúng tôi ?</h2>
        <p>Với đội những chyên gia hàng đầu trong lĩnh vực cung những thiết bị máy móc hiện đại. Chúng tôi tự tin sẽ mang đến cho bạn những gì được xem là tốt nhât</p>
    </div>
</div>